<!DOCTYPE html>

<html>

<head>
    <title>about</title>
<link rel="icon" type="image/png" href="/img/weather.png"/>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">  
    {{>header}}
    <p>This site was created by Wazeer. It uses data from mapbox.com and weatherstcak.api!</p>
    <img class ="portrait"src="/img/sample.jpeg" alt="About Image">
     </div> 
   
    {{>footer}}
</body>

</html>